/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'et-line';
  src: asset-path("et-line.eot");
  src: asset-path("et-line.eot?#iefix") format("embedded-opentype"), asset-path("etline.svg#et-line") format("svg"), asset-path("etline.woff") format("woff"), asset-path("et-line.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'flexslider';
  src: asset-path("flexslider.eot");
  src: asset-path("flexslider.eot?#iefix") format("embedded-opentype"), asset-path("flexslider.svg#et-line") format("svg"), asset-path("flexslider.woff") format("woff"), asset-path("flexslider.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: asset-path("fontawesome.eot");
  src: asset-path("fontawesome.eot?#iefix") format("embedded-opentype"), asset-path("fontawesome.svg#et-line") format("svg"), asset-path("fontawesome.woff") format("woff"), asset-path("fontawesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'linecons';
  src: asset-path("linecons.eot");
  src: asset-path("linecons.eot?#iefix") format("embedded-opentype"), asset-path("linecons.svg#et-line") format("svg"), asset-path("linecons.woff") format("woff"), asset-path("linecons.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}